<html>
  <head>
    <title>Hensgen Holiday Wishes 2011</title>
    <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
    <style>
      body {
        color: #740000;
        font-family: 'Bilbo Swash Caps', cursive;
        font-size: 2em;
        background-color: #ebc5c5;
        text-align: center;
        width: 960px;
        margin: 0 auto;
      }
      h1 {
        font-size: 36px;
        margin: 20px 0 0 0;
      }
      h2 {
        font-size: 42px;
        margin: 0px;
      }
      img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 5px 0;
      }
      #left {
        width: 250px;
        padding: 0 10px;
        float: left;
        text-align: right;
      }
      #center {
        float: left;
        width: 400px;
        padding: 0 10px;
        background-color: #fff;
      }
      #right {
        width: 250px;
        padding: 0 10px;
        float: left;
        text-align: left;
      }
      p {
        text-align: left;
        font-family: Georgia, serif;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div id='left'>
      &nbsp;
    </div>
    <div id='center'>
      <h1>Hensgen Holiday Wishes</h1>
      <h2>2011</h2>
      <% Dir.glob('public/images/*.jpg').sort.each do |path| %>
        <img border="0" alt="" src="images/<%= File.basename(path) %>"/><br>
      <% end %>
      <p>
        It had its ups and downs, but 2011 turned out pretty great.
      </p>
      <p>
        Nick and Mia are doing well in the first grade, finding answers to the
        great questions of life. They're also asking important questions like,
        "Can I play on the phone?"
      </p>
      <p>
        Dan and Jenni are doing well too, continuing to search for that perfect
        balance between work, life and parenthood. They have found important
        answers like, "No. Well, ok, but just 15 minutes. Why is the battery dead?"
      </p>
      <p>
        We hope you're having a restful holiday, recharging for what is sure to
        be an exciting 2012.
      </p>
      <br/>
      <h2>Happy New Year!</h2>
      <h1>Love,</h1>
      <img src='signature_nick.png' style='width:100px'/>&nbsp;&nbsp;<img src='signature_mia.png' style='width:100px'/><br/>
      <img src='signature_jenni.png' style='width:100px'/>&nbsp;&nbsp;<img src='signature_dan.png' style='width:100px'/>
    </div>
    <div id='right'>
      &nbsp;
    </div>
  </body>
</html>
