<html>
  <head>
    <title>Hensgen Holiday Wishes 2011</title>
    <style>
      body {
        font-family: Bickham Script Pro;
        font-size: 2em;
        background-color: hsl(213, 100%, 90%);
        text-align: center;
      }
      img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <h1>Hensgen Holiday Wishes 2011</h1>
    <div id='left'>
    </div>
    <p>We learned to ride bikes.</p>
    <p>We got a new job.</p>
    <p>We learned to swim.</p>
    <p>We went on vacation</p>
    <div class='col'>
      <% (1..28).each do |i| %>
        <img border="0" alt="" src="<%= i %>.jpg"/><br><br>
      <% end %>
    </div>
    <h1>Happy New Year!</h1>
    <h2>Love,</h2>
  </body>
</html>
