<html>
  <head>
    <title>Hensgen Holiday Wishes 2011</title>
    <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
    <style>
      body {
        color: #740000;
        font-family: 'Bilbo Swash Caps', cursive;
        font-size: 2em;
        background-color: #ebc5c5;
        text-align: center;
        width: 960px;
        margin: 0 auto;
      }
      h1 {
        font-size: 36px;
        margin: 20px 0 0 0;
      }
      h2 {
        font-size: 42px;
        margin: 0px;
      }
      img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 5px 0;
      }
      #left {
        width: 250px;
        padding: 0 10px;
        float: left;
        text-align: right;
      }
      #center {
        float: left;
        width: 400px;
        padding: 0 10px;
        background-color: #fff;
      }
      #right {
        width: 250px;
        padding: 0 10px;
        float: left;
        text-align: left;
      }
      p {
        font-family: Georgia, serif;
        font-size: 16px;
        margin-top: 500px;
      }
      p.first {
        margin-top: 250px;
      }
    </style>
  </head>
  <body>
    <div id='left'>
      <p class='first'>
        We'd like to say we took our Christmas card online this year to save a tree, but we really just procrastinated.
        <br/><br/>
        It had its ups and downs, but overall 2011 was a pretty great year.
      </p>
      <p>
        Jenni
      </p>
      <p>
        We hope you had a wonderful year and we hope to see and hear more of eachother in 2012!
      </p>
    </div>
    <div id='center'>
      <h1>Hensgen Holiday Wishes</h1>
      <h2>2011</h2>
      <% Dir.glob('public/images/*.jpg').each do |path| %>
        <img border="0" alt="" src="images/<%= File.basename(path) %>"/><br>
      <% end %>
      <h2>Happy New Year!</h2>
      <h1>Love,</h1>
      <img src='signature_nick.png' style='width:100px'/>&nbsp;&nbsp;<img src='signature_mia.png' style='width:100px'/><br/>
      <img src='signature_jenni.png' style='width:100px'/>&nbsp;&nbsp;<img src='signature_dan.png' style='width:100px'/>
    </div>
    <div id='right'>
      <p>
        Nick and Mia finished Kindergarden and spent the summer at Grasshopper
        Green. The field trips were great, but they seemed more interested in
        whether they could get something out of the vending machine.
        <br/><br/>
        They started first grade in the fall. They were in separate classes for
        the first time. They like their teachers and are filling their brains
        with useful knowledge. One modern twist is their Internet Safety class,
        where they learned about unsavory characters like Wannaknow Wally and
        Pottymouth Pete.
      </p>
      <p>
        Dan left the RideCharge rollercoaster for <a
        href='http://www.razoo.com'>Razoo</a> which turns out to be just
        another rollercoaster. Still, he works with technology he likes and
        they take good care of their employees; it's pretty hard to
        argue with that.
        <br/><br/>
        Unfortunately, he hasn't been playing much music. Instead, he's focused
        on software projects, projects too boring to mention here.
      </p>
    </div>
  </body>
</html>
